body{
    background-color: gray;
    box-sizing: border-box;
    margin: 20px;
}
h1{
    margin-top: 50px;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 100px;
}
.btn{
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 15px 25px;
    margin: 20px;
    animation: btns 0.5s ease-in-out;
}
.btn-1{
    animation: btns1 0.5s ease-in-out;
}
.btn:hover{
    background-color: white;
    color: black;
}
.btn1{
    padding: 10px;
}
.btn1:hover{
    background-color: gray;
}
@keyframes btns{
    from{
        opacity: 0.5;
        transform: translateY(-100%);
    }
}
@keyframes btns1{
    from{
        opacity: 0.5s;
        transform: translateY(200%);
    }
}
form{
    display: none;
    max-width: 400px;
    margin: 10px 20px;
    padding: 10px;
    visibility: hidden;
    background-color: white;
    border-radius: 10px;
    opacity: 0.8;
}
form>.btn{
    margin: auto;
}
form>input{
    padding: 5px;
    margin-bottom: 15px;
}
table, td ,th{
    border: 1.5px solid black;
    color: black;
    padding: 20px;
}
table{
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0.746);
}
.content{
    display: flex;
    justify-content: center;
}
